/* -------------------------------- 

File#: _1_testimonial
Title: Testimonial
Descr: A testimonial quote 
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
    font-family: system-ui, sans-serif;
    color: hsl(230, 7%, 23%);
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: hsl(230, 13%, 9%);
    font-weight: 700;
}

h1 {
    font-size: 2.0736rem;
}

h2 {
    font-size: 1.728rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1.2rem;
}

ol,
ul,
menu {
    list-style: none;
}

button,
input,
textarea,
select {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    appearance: none;
}

textarea {
    resize: vertical;
    overflow: auto;
    vertical-align: top;
}

a {
    color: hsl(250, 84%, 54%);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

@media (min-width: 64rem) {
    body {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 3.051rem;
    }

    h2 {
        font-size: 2.44rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5625rem;
    }
}

/* variables */
:root {
    /* colors */
    --tf8-color-primary-hsl: 250, 84%, 54%;
    --tf8-color-bg-hsl: 0, 0%, 100%;
    --tf8-color-contrast-high-hsl: 230, 7%, 23%;
    --tf8-color-contrast-higher-hsl: 230, 13%, 9%;
    --tf8-color-contrast-medium-hsl: 225, 4%, 47%;
    --tf8-color-contrast-lower-hsl: 240, 4%, 85%;

    /* spacing */
    --tf8-space-4xs: 0.125rem;
    --tf8-space-md: 1.25rem;
    --tf8-space-lg: 2rem;
    --tf8-space-2xl: 5.25rem;

    /* typography */
    --tf8-text-lg: 1.25rem;
}

@media(min-width: 64rem) {
    :root {
        /* spacing */
        --tf8-space-4xs: 0.1875rem;
        --tf8-space-md: 2rem;
        --tf8-space-lg: 3.125rem;
        --tf8-space-2xl: 8.25rem;

        /* typography */
        --tf8-text-lg: 1.75rem;
    }
}

/* icons */
.tf8-icon {
    height: var(--tf8-size, 1em);
    width: var(--tf8-size, 1em);
    display: inline-block;
    color: inherit;
    fill: currentColor;
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
}

.tf8-icon--2xl {
    --tf8-size: 96px;
}

/* component */
.testimonial__block-wrapper {
    position: relative;
}

.testimonial__block-wrapper blockquote {
    position: relative;
    z-index: 1;
}

.testimonial__block-wrapper .tf8-icon {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
}

/* utility classes */
.tf8-margin-top-4xs {
    margin-top: var(--tf8-space-4xs);
}

.tf8-color-contrast-medium {
    --tf8-color-o: 1;
    color: hsla(var(--tf8-color-contrast-medium-hsl), var(--tf8-color-o, 1));
}

.tf8-letter-spacing-md {
    letter-spacing: 0.05em;
}

.tf8-text-uppercase {
    text-transform: uppercase;
}

.tf8-text-center {
    text-align: center;
}

.tf8-opacity-10\% {
    opacity: 0.1;
}

.tf8-color-contrast-higher {
    --tf8-color-o: 1;
    color: hsla(var(--tf8-color-contrast-higher-hsl), var(--tf8-color-o, 1));
}

.tf8-line-height-md {
    line-height: 1.4;
}

.tf8-text-lg {
    font-size: var(--tf8-text-lg);
}

.tf8-margin-bottom-lg {
    margin-bottom: var(--tf8-space-lg);
}

.tf8-shadow-sm {
    box-shadow: 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
}

.tf8-border {
    --tf8-border-o: 1;
    border: var(--tf8-border-width, 1px) var(--tf8-border-style, solid) hsla(var(--tf8-color-contrast-lower-hsl), var(--tf8-border-o, 1));
}

.tf8-radius-50\% {
    border-radius: 50%;
}

.tf8-height-2xl {
    height: 6rem;
}

.tf8-width-2xl {
    width: 6rem;
}

.tf8-block {
    display: block;
}

.tf8-margin-bottom-md {
    margin-bottom: var(--tf8-space-md);
}

.tf8-justify-center {
    justify-content: center;
}

.tf8-flex {
    display: flex;
}

.tf8-max-width-adaptive-sm {
    max-width: 32rem;
}

@media(min-width: 48rem) {
    .tf8-max-width-adaptive-sm {
        max-width: 48rem;
    }
}

.tf8-container {
    width: calc(100% - 2*var(--tf8-space-md));
    margin-left: auto;
    margin-right: auto;
}

.tf8-padding-y-2xl {
    padding-top: var(--tf8-space-2xl);
    padding-bottom: var(--tf8-space-2xl);
}

.tf8-z-index-1 {
    z-index: 1;
}

.tf8-position-relative {
    position: relative;
}

.tf8-border-bg {
    --tf8-border-o: 1;
    border-color: hsla(var(--tf8-color-bg-hsl), var(--tf8-border-o, 1));
}

.tf8-border-2 {
    --tf8-border-width: 2px;
}